<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.youye.smt.dao.UserMapper">
  <sql id="UserColumns">
      a.id AS "id",
      a.user_name AS "userName",
      a.login_name AS "loginName",
      a.password AS "password",
      a.role_id AS "role.id",
      a.phone AS "phone",
      a.create_date AS "createDate"
  </sql>
    <sql id="leftJoins">
        <include refid="UserColumns"/>
    </sql>
    <select id="findList" resultType="user">
        SELECT
        <include refid="UserColumns"/>
        FROM user a
        <where>
            <if test="userName!=null and userName!=''">
                a.user_name=#{userName}
            </if>
            <if test="role!=null and role.id!=null and role.id!=''">
                a.role_id=#{role.id}
            </if>
        </where>
    </select>

</mapper>